In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timezone

In [2]:
df_raw = pd.read_excel('data/ods031.xlsx')
df_raw

,Datetime,Resolution code,Offshore/onshore,Region,Grid connection type,Measured & Upscaled,Most recent forecast,Most recent P10,Most recent P90,Day Ahead 11AM forecast,...,Day Ahead 11AM P90,Day-ahead 6PM forecast,Day-ahead 6PM P10,Day-ahead 6PM P90,Week-ahead forecast,Week-ahead P10,Week-ahead P90,Monitored capacity,Load factor,Decremental bid Indicator
0,2022-12-31T23:45:00+01:00,PT15M,Onshore,Flanders,Elia,284.22,268.50,243.80,278.40,261.00,...,274.90,261.90,193.60,275.20,177.30,141.80,197.70,373.25,0.76,''
1,2022-12-31T23:45:00+01:00,PT15M,Onshore,Flanders,Dso,1002.65,985.40,847.20,993.00,966.50,...,982.30,971.20,851.60,995.40,598.00,531.20,646.30,1353.86,0.74,''
2,2022-12-31T23:45:00+01:00,PT15M,Onshore,Wallonia,Elia,104.28,94.50,72.80,94.50,88.60,...,114.90,91.30,75.00,112.20,50.20,31.90,65.90,158.60,0.66,''
3,2022-12-31T23:45:00+01:00,PT15M,Onshore,Wallonia,Dso,814.09,825.40,733.40,849.80,819.00,...,877.10,824.60,740.50,871.70,422.90,337.60,510.90,1071.88,0.76,''
4,2022-12-31T23:45:00+01:00,PT15M,Offshore,Federal,Elia,2162.12,2149.19,1423.54,2166.88,2162.37,...,2166.88,2166.88,1382.01,2166.88,2166.81,930.98,2166.88,2254.40,0.96,''
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175195,2022-01-01T00:00:00+01:00,PT15M,Onshore,Wallonia,Elia,26.42,36.90,25.10,46.60,39.60,...,57.40,40.60,23.30,54.50,33.90,18.40,55.90,149.40,0.18,''
175196,2022-01-01T00:00:00+01:00,PT15M,Onshore,Wallonia,Dso,192.52,202.00,154.80,262.00,225.50,...,331.40,224.50,118.40,300.90,171.30,104.40,281.40,939.17,0.20,''
175197,2022-01-01T00:00:00+01:00,PT15M,Onshore,Flanders,Dso,249.81,265.70,213.80,301.50,262.40,...,383.90,263.30,117.60,355.80,165.70,119.70,236.80,1284.48,0.19,''
175198,2022-01-01T00:00:00+01:00,PT15M,Offshore,Federal,Elia,1803.48,1881.52,1240.20,2035.74,1955.37,...,2056.32,1889.28,1010.42,2036.23,2071.60,590.02,2166.88,2254.40,0.80,''
175199,2022-01-01T00:00:00+01:00,PT15M,Onshore,Flanders,Elia,60.58,67.90,56.40,76.70,61.70,...,87.30,61.90,29.40,83.90,36.50,23.40,51.00,255.95,0.24,''

In [3]:
def remove_timezone(dt):
    # HERE `dt` is a python datetime
    # object that used .replace() method
    return dt.replace(tzinfo=None)

In [4]:
df_raw['Datetime'] = pd.to_datetime(df_raw['Datetime'])
df_raw['Datetime'] = df_raw['Datetime'].apply(remove_timezone)

df_raw = df_raw.sort_values(by='Datetime')
df_raw = df_raw.reset_index(drop=True)

In [5]:
df_anly = df_raw.copy()
df_anly = df_anly[df_anly['Region'] =='Federal']
df_anly = df_anly.sort_values(by='Datetime',ascending = True)
df_anly = df_anly.reset_index(drop=True)
df_anly.iloc[28996:29004]

,Datetime,Resolution code,Offshore/onshore,Region,Grid connection type,Measured & Upscaled,Most recent forecast,Most recent P10,Most recent P90,Day Ahead 11AM forecast,...,Day Ahead 11AM P90,Day-ahead 6PM forecast,Day-ahead 6PM P10,Day-ahead 6PM P90,Week-ahead forecast,Week-ahead P10,Week-ahead P90,Monitored capacity,Load factor,Decremental bid Indicator
28996,2022-10-30 02:00:00,PT15M,Offshore,Federal,Elia,326.18,954.38,509.33,1188.86,521.38,...,840.64,507.84,159.41,972.11,765.70,45.38,2023.00,2254.4,0.14,''
28997,2022-10-30 02:00:00,PT15M,Offshore,Federal,Elia,339.25,1053.27,557.01,1321.21,451.04,...,820.55,423.12,138.50,792.85,724.57,43.25,2016.73,2254.4,0.15,''
28998,2022-10-30 02:15:00,PT15M,Offshore,Federal,Elia,415.50,1027.28,571.69,1287.87,453.07,...,753.30,443.66,136.96,903.01,737.87,44.68,2046.64,2254.4,0.18,''
28999,2022-10-30 02:15:00,PT15M,Offshore,Federal,Elia,281.85,939.02,522.57,1153.42,564.99,...,958.35,534.01,167.62,1010.98,785.47,48.86,1957.48,2254.4,0.13,''
29000,2022-10-30 02:30:00,PT15M,Offshore,Federal,Elia,416.60,1002.40,563.06,1245.93,459.41,...,759.73,472.72,148.21,920.19,740.96,44.79,2012.45,2254.4,0.18,''
29001,2022-10-30 02:30:00,PT15M,Offshore,Federal,Elia,256.28,922.79,527.57,1119.56,598.22,...,1063.77,549.23,166.14,1063.01,816.88,55.69,1920.73,2254.4,0.11,''
29002,2022-10-30 02:45:00,PT15M,Offshore,Federal,Elia,374.28,978.26,530.73,1216.61,479.81,...,774.61,485.48,154.34,931.41,757.38,44.91,2037.21,2254.4,0.17,''
29003,2022-10-30 02:45:00,PT15M,Offshore,Federal,Elia,249.20,905.77,528.99,1092.70,610.15,...,1086.24,557.48,165.90,1090.57,852.45,74.93,1873.33,2254.4,0.11,''

风电场出力有功功率数据预处理，包括缺失值检测、死数检测、异常值剔除、插值

In [6]:
df_slim = df_anly[['Datetime','Measured & Upscaled', 'Most recent forecast', 'Monitored capacity']]
df_slim

,Datetime,Measured & Upscaled,Most recent forecast,Monitored capacity
0,2022-01-01 00:00:00,1803.48,1881.52,2254.4
1,2022-01-01 00:15:00,1962.39,1855.50,2254.4
2,2022-01-01 00:30:00,1801.63,1823.16,2254.4
3,2022-01-01 00:45:00,1824.41,1795.96,2254.4
4,2022-01-01 01:00:00,1661.57,1779.28,2254.4
...,...,...,...,...
35035,2022-12-31 22:45:00,2187.05,2133.89,2254.4
35036,2022-12-31 23:00:00,2177.68,2123.49,2254.4
35037,2022-12-31 23:15:00,2180.85,2129.58,2254.4
35038,2022-12-31 23:30:00,2177.87,2147.49,2254.4
35039,2022-12-31 23:45:00,2162.12,2149.19,2254.4

In [7]:
print(df_slim['Datetime'].isnull().any())
print(df_slim['Measured & Upscaled'].isnull().any())
print(df_slim['Most recent forecast'].isnull().any())
print(df_slim['Monitored capacity'].isnull().any())

False
False
False
False

In [8]:
df_test_15M = df_slim.copy()
# 检查数据缺失的日期
df_test_15M['diff'] = df_test_15M['Datetime'].diff()

df_test_15M['diff15'] = df_test_15M['diff'] == pd.Timedelta(minutes=15)
# 使用条件索引来获取"差值为15分钟"列中为False的行
false_rows = df_test_15M[df_test_15M['diff15'] == False]
false_rows.to_csv('ch2fig/时间戳错误的行.csv')
false_rows

,Datetime,Measured & Upscaled,Most recent forecast,Monitored capacity,diff,diff15
0,2022-01-01 00:00:00,1803.48,1881.52,2254.4,NaT,False
8168,2022-03-27 03:00:00,383.45,933.52,2254.4,0 days 01:15:00,False
28997,2022-10-30 02:00:00,339.25,1053.27,2254.4,0 days 00:00:00,False
28999,2022-10-30 02:15:00,281.85,939.02,2254.4,0 days 00:00:00,False
29001,2022-10-30 02:30:00,256.28,922.79,2254.4,0 days 00:00:00,False
29003,2022-10-30 02:45:00,249.20,905.77,2254.4,0 days 00:00:00,False

第一步，分析重复行
第二步，补全缺失行

In [9]:
df_slim.iloc[28996:29004]
df_slim_1 = df_slim.drop(index=df_slim.index[[28996, 28998, 29000, 29002]])

# 创建日期范围
date_range = pd.date_range(start='2022-03-27 02:00:00', end='2022-03-27 02:45:00', freq='15T')
# 创建DataFrame
df_slim_lack = pd.DataFrame({'Datetime': date_range})

# 打印DataFrame
df_slim_2 = pd.concat([df_slim_1,df_slim_lack],axis=0 )
df_slim_2 = df_slim_2.sort_values(by='Datetime',ascending = True)

df_slim_2['Measured & Upscaled'].fillna(value=0,inplace=True)
df_slim_2['Most recent forecast'].fillna(value=0,inplace=True)
df_slim_2['Monitored capacity'].fillna(value=2254.4,inplace=True)

df_test_15M = df_slim_2.copy()
# 检查数据缺失的日期
df_test_15M['diff'] = df_test_15M['Datetime'].diff()

df_test_15M['diff15'] = df_test_15M['diff'] == pd.Timedelta(minutes=15)
# 使用条件索引来获取"差值为15分钟"列中为False的行
false_rows = df_test_15M[df_test_15M['diff15'] == False]
false_rows

,Datetime,Measured & Upscaled,Most recent forecast,Monitored capacity,diff,diff15
0,2022-01-01,1803.48,1881.52,2254.4,NaT,False

In [10]:
df_slim_2

,Datetime,Measured & Upscaled,Most recent forecast,Monitored capacity
0,2022-01-01 00:00:00,1803.48,1881.52,2254.4
1,2022-01-01 00:15:00,1962.39,1855.50,2254.4
2,2022-01-01 00:30:00,1801.63,1823.16,2254.4
3,2022-01-01 00:45:00,1824.41,1795.96,2254.4
4,2022-01-01 01:00:00,1661.57,1779.28,2254.4
...,...,...,...,...
35035,2022-12-31 22:45:00,2187.05,2133.89,2254.4
35036,2022-12-31 23:00:00,2177.68,2123.49,2254.4
35037,2022-12-31 23:15:00,2180.85,2129.58,2254.4
35038,2022-12-31 23:30:00,2177.87,2147.49,2254.4
35039,2022-12-31 23:45:00,2162.12,2149.19,2254.4

In [11]:
df_slim_2.to_csv('data_anly_raw.csv')

In [12]:
df_slim_2

,Datetime,Measured & Upscaled,Most recent forecast,Monitored capacity
0,2022-01-01 00:00:00,1803.48,1881.52,2254.4
1,2022-01-01 00:15:00,1962.39,1855.50,2254.4
2,2022-01-01 00:30:00,1801.63,1823.16,2254.4
3,2022-01-01 00:45:00,1824.41,1795.96,2254.4
4,2022-01-01 01:00:00,1661.57,1779.28,2254.4
...,...,...,...,...
35035,2022-12-31 22:45:00,2187.05,2133.89,2254.4
35036,2022-12-31 23:00:00,2177.68,2123.49,2254.4
35037,2022-12-31 23:15:00,2180.85,2129.58,2254.4
35038,2022-12-31 23:30:00,2177.87,2147.49,2254.4
35039,2022-12-31 23:45:00,2162.12,2149.19,2254.4

In [13]:
df_slim_cal = df_slim_2.copy()

df_slim_cal = df_slim_cal.reset_index(drop=True)

df_slim_cal['ShiftMeasured'] = df_slim_cal['Measured & Upscaled'].shift(periods=1)
df_slim_cal['ShiftMeasured'].iloc[0] = df_slim_cal['Measured & Upscaled'].iloc[0] #len(df_12_slim)-1

df_slim_cal['Fluctuation15M']=df_slim_cal['Measured & Upscaled'].diff()
df_slim_cal['Fluctuation15M'].iloc[0] = 0

df_slim_cal['PredFluctuation15M'] = df_slim_cal['Most recent forecast'] - df_slim_cal['ShiftMeasured']
df_slim_cal['PredFluctuation15M'].iloc[len(df_slim_cal)-1] = 0

df_slim_cal['ShiftFluctuation15M'] = df_slim_cal['Fluctuation15M'].shift(periods=1)
df_slim_cal['ShiftFluctuation15M'].iloc[0:2] = 0

df_slim_cal['ShiftFluctuation15M'] = df_slim_cal['Fluctuation15M'].shift(periods=1)
df_slim_cal['ShiftFluctuation15M'].iloc[0:2] = 0

# df_slim_cal['PredFluctuation15M'] = df_slim_cal['Fluctuation15M'].shift(periods=-1)

df_slim_cal

C:\Users\Great Roy\AppData\Local\Temp\ipykernel_25248\2422867725.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_slim_cal['ShiftMeasured'].iloc[0] = df_slim_cal['Measured & Upscaled'].iloc[0] #len(df_12_slim)-1
C:\Users\Great Roy\AppData\Local\Temp\ipykernel_25248\2422867725.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_slim_cal['Fluctuation15M'].iloc[0] = 0
C:\Users\Great Roy\AppData\Local\Temp\ipykernel_25248\2422867725.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_slim_cal['ShiftFluctuation15M'].iloc[0:2] = 0
C:\Users\Great Roy\AppData\Local\Temp\ipykernel_25248\2422867725.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_slim_cal['ShiftFluctuation15M'].iloc[0:2] = 0
C:\Users\Great Roy\AppData\Local\Temp\ipykernel_25248\2422867725.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_slim_cal['PredFluctuation15M'].iloc[len(df_slim_cal)-1] = 0

,Datetime,Measured & Upscaled,Most recent forecast,Monitored capacity,ShiftMeasured,Fluctuation15M,PredFluctuation15M,ShiftFluctuation15M
0,2022-01-01 00:00:00,1803.48,1881.52,2254.4,1803.48,0.00,78.04,0.00
1,2022-01-01 00:15:00,1962.39,1855.50,2254.4,1803.48,158.91,52.02,0.00
2,2022-01-01 00:30:00,1801.63,1823.16,2254.4,1962.39,-160.76,-139.23,158.91
3,2022-01-01 00:45:00,1824.41,1795.96,2254.4,1801.63,22.78,-5.67,-160.76
4,2022-01-01 01:00:00,1661.57,1779.28,2254.4,1824.41,-162.84,-45.13,22.78
...,...,...,...,...,...,...,...,...
35035,2022-12-31 22:45:00,2187.05,2133.89,2254.4,2177.33,9.72,-43.44,16.48
35036,2022-12-31 23:00:00,2177.68,2123.49,2254.4,2187.05,-9.37,-63.56,9.72
35037,2022-12-31 23:15:00,2180.85,2129.58,2254.4,2177.68,3.17,-48.10,-9.37
35038,2022-12-31 23:30:00,2177.87,2147.49,2254.4,2180.85,-2.98,-33.36,3.17
35039,2022-12-31 23:45:00,2162.12,2149.19,2254.4,2177.87,-15.75,0.00,-2.98

In [14]:
df_slim_cal.to_csv('data/data_cal.csv',index=False)

In [15]:
df_slim_cal.describe() # 2254.4

,Measured & Upscaled,Most recent forecast,Monitored capacity,ShiftMeasured,Fluctuation15M,PredFluctuation15M,ShiftFluctuation15M
count,35040.000000,35040.000000,3.504000e+04,35040.000000,35040.000000,35040.000000,35040.000000
mean,758.354345,957.642837,2.254400e+03,758.344110,0.010235,199.299546,0.010685
std,774.366215,771.504146,3.183277e-12,774.350031,75.455406,266.444217,75.455359
min,-8.530000,0.000000,2.254400e+03,-8.530000,-1142.340000,-1285.080000,-1142.340000
25%,89.880000,243.040000,2.254400e+03,89.880000,-18.870000,10.457500,-18.870000
50%,437.150000,775.880000,2.254400e+03,437.150000,-0.070000,126.420000,-0.070000
75%,1406.982500,1726.882500,2.254400e+03,1406.982500,17.510000,334.495000,17.510000
max,2240.910000,2166.880000,2.254400e+03,2240.910000,1284.680000,1773.830000,1284.680000

In [16]:
df_slim_cal.isnull().sum()

Datetime                0
Measured & Upscaled     0
Most recent forecast    0
Monitored capacity      0
ShiftMeasured           0
Fluctuation15M          0
PredFluctuation15M      0
ShiftFluctuation15M     0
dtype: int64

In [17]:
# 不存在空集

In [18]:
num = 9
df_slim_dead = df_slim_cal
# 假设 df_slim_cal 是您的DataFrame，且已有 'Measured & Upscaled' 这一列

# 创建一个新列以标记值何时改变
df_slim_dead['value_changed'] = df_slim_dead['Measured & Upscaled'].shift() != df_slim_dead['Measured & Upscaled']

# 为每个连续段分配组ID
df_slim_dead['group_id'] = df_slim_dead['value_changed'].cumsum()

# 计算每个组的大小
group_sizes = df_slim_dead.groupby('group_id').size()

# 筛选出大小大于等于6的组ID
valid_group_ids = group_sizes[group_sizes >= num].index

# 根据筛选出的组ID，选择原DataFrame中的行
filtered_df = df_slim_cal[df_slim_cal['group_id'].isin(valid_group_ids)]

# 如果需要，可以从 filtered_df 中删除辅助列
filtered_df = filtered_df.drop(['value_changed', 'group_id'], axis=1)

# 此时，filtered_df 包含了满足条件的行
filtered_df.to_csv('ch2fig/死数数据集.csv')

# 继续使用上面创建的 df_slim_dead 和 group_sizes

# 使用 groupby 和 agg 来计算每个组的统计信息
stats = df_slim_dead.groupby('group_id').agg(
    unique_value=pd.NamedAgg(column='Measured & Upscaled', aggfunc='first'),  # 假设连续段的值是相同的，取第一个即可
    length=pd.NamedAgg(column='Measured & Upscaled', aggfunc='size'),
    start_time=pd.NamedAgg(column='Datetime', aggfunc='min'),
    end_time=pd.NamedAgg(column='Datetime', aggfunc='max')
)

# 筛选出长度大于等于4的记录
filtered_stats = stats[stats['length'] >= num]

# 保存统计信息到CSV文件
filtered_stats.to_csv('ch2fig/连续数字统计信息.csv')

filtered_stats

          unique_value  length          start_time            end_time
group_id
1634             -3.54      10 2022-01-18 01:30:00 2022-01-18 03:45:00
1638             -3.54      14 2022-01-18 04:45:00 2022-01-18 08:00:00
2309             -4.85      10 2022-01-25 11:00:00 2022-01-25 13:15:00
7747             -4.40      21 2022-03-23 12:15:00 2022-03-23 17:15:00
7797             -4.68      15 2022-03-24 10:00:00 2022-03-24 13:30:00
9416             -3.44      10 2022-04-10 15:15:00 2022-04-10 17:30:00
11361            -5.40      10 2022-05-01 04:00:00 2022-05-01 06:15:00
11617            -4.11      19 2022-05-04 06:00:00 2022-05-04 10:30:00
12112            -4.28      10 2022-05-09 15:15:00 2022-05-09 17:30:00
12575            -5.57      15 2022-05-14 14:00:00 2022-05-14 17:30:00
14077            -4.83      20 2022-05-30 13:00:00 2022-05-30 17:45:00
14079            -5.40       9 2022-05-30 18:15:00 2022-05-30 20:15:00
15402            -7.53      22 2022-06-13 15:15:00 2022-06-13 20:30:00
16648            -5.11      14 2022-06-26 21:30:00 2022-06-27 00:45:00
16650            -5.68      10 2022-06-27 01:15:00 2022-06-27 03:30:00
17493            -7.73      24 2022-07-06 00:00:00 2022-07-06 05:45:00
17739            -4.90      15 2022-07-08 20:00:00 2022-07-08 23:30:00
17913            -3.97      33 2022-07-10 19:15:00 2022-07-11 03:15:00
19093            -4.61      10 2022-07-23 14:00:00 2022-07-23 16:15:00
20489            -5.27       9 2022-08-07 11:45:00 2022-08-07 13:45:00
21541            -4.90      22 2022-08-18 14:15:00 2022-08-18 19:30:00
22074            -5.50      12 2022-08-24 11:30:00 2022-08-24 14:15:00